& {
    .calendar-button i {
        margin-right: 5px;
    }
    .calendar-button .cal-export-content a {
        display: flex;
        align-items: center;
    }
    .calendar-button .cal-export-content .app-icon {
        height: 18px;
        width: 14px;
        float: left;
        margin-right: 5px;
        vertical-align: middle;
    }
    .calendar-button .cal-export-content .google-app-icon {
        background:url('/images/google-icon.png');
    }
    .calendar-button .cal-export-content .apple-app-icon {
        background:url('/images/apple-icon.png')
    }
    .calendar-button .cal-export-content .outlook-app-icon {
        background:url('/images/outlook-icon.png')
    }
    .calendar-button .cal-export-content .yahoo-app-icon {
        background:url('/images/yahoo-icon.png')
    }
    .calendar-button .cal-export-content .generic-cal-app-icon {
        background:url('/images/outlook-icon.png')
    }
}