<h2 id="title">Add To Calendar Button</h2>

{{#calendar-button event as |b|}}
  {{#b.apple}}
    Apple calendar
  {{/b.apple}}
  {{#b.google}}
    Google (online)
  {{/b.google}}
   {{#b.ical}}
    Outlook
  {{/b.ical}}
  {{#b.outlook}}
    Outlook (online)
  {{/b.outlook}}
  {{#b.yahoo}}
    Add To Yahoo
  {{/b.yahoo}}
{{/calendar-button}}
