<h2 id="title">Add To Calendar Button</h2>

{{#calendar-button event as |b|}}
  {{#b.google}}
    Add To Goolge
  {{/b.google}}
  {{#b.yahoo}}
    Add To Yahoo
  {{/b.yahoo}}
  {{#b.ical}}
    Add to Anything
  {{/b.ical}}
{{/calendar-button}}
